

.login-background {
    background-color: #000000; /* Replace with your desired color */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
